.image-list {
  columns: 6; /* Specify the number of columns */
  column-gap: 10px; /* Specify the gap between columns */
  width: 1200px; /* Set the width of the entire multi-column layout */
}

.img {
  width: 100%; /* Ensure images fill the width of their column */
  margin-bottom: 10px;
}
